{% load i18n static %}
<ul class="nav">
  
  {% if menu_items %}
    {# Menu động dựa trên role của user #}
    {% for item in menu_items %}
      {% if item.children %}
        {# Menu có submenu #}
        <li class="{% if item.segment in segment %} active {% endif %}">
          <a data-toggle="collapse" href="#{{ item.segment }}Menu">
            <i class="{{ item.icon }}"></i>
            <p>
              {{ item.title }}
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse {% if item.segment in segment %}show{% endif %}" id="{{ item.segment }}Menu">
            <ul class="nav">
              {% for child in item.children %}
              <li class="{% if child.segment in segment %} active {% endif %}">
                <a href="{{ child.url }}">
                  <span class="sidebar-mini-icon"><i class="{{ child.icon }}"></i></span>
                  <span class="sidebar-normal">{{ child.title }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% else %}
        {# Menu đơn #}
        <li class="{% if item.segment in segment %} active {% endif %}">
          <a href="{{ item.url }}">
            <i class="{{ item.icon }}"></i>
            <p>{{ item.title }}</p>
          </a>
        </li>
      {% endif %}
    {% endfor %}
    
    {# Logout button cho user đã đăng nhập #}
    {% if request.user.is_authenticated %}
    <li>
      <a href="{% url 'logout' %}">
        <i class="tim-icons icon-button-power"></i>
        <p>Logout</p>
      </a>
    </li>
    {% endif %}
    
  {% else %}
    {# Menu mặc định khi chưa đăng nhập #}
    <li class="{% if 'dashboard' in segment %} active {% endif %}">
      <a href="/">
        <i class="tim-icons icon-chart-pie-36"></i>
        <p>Dashboard</p>
      </a>
    </li>
    
    {% if not request.user.is_authenticated %}
    <li class="{% if 'pages' in parent %}active{% endif %}">
      <a data-toggle="collapse" href="#pagesExamples">
        <i class="tim-icons icon-lock-circle"></i>
        <p>
          Authentication
          <b class="caret"></b>
        </p>
      </a>
      <div class="collapse" id="pagesExamples">
        <ul class="nav">
          <li>
            <a href="{% url 'auth_signin' %}">
              <span class="sidebar-mini-icon">L</span>
              <span class="sidebar-normal"> Login </span>
            </a>
          </li>
          <li>
            <a href="{% url 'auth_signup' %}">
              <span class="sidebar-mini-icon">R</span>
              <span class="sidebar-normal"> Register </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    {% endif %}
  {% endif %}

</ul>